@model Core.DB.User
@{ Layout = "~/baseCustomer.cshtml"; }
@section scripts
{
<script type="text/javascript">
$(function () {

    $('form#pchangeform').submit(function (e) {
        try {
            if ($("input[name='passwordOld']").val().length == 0) throw new Error('Старый пароль не может быть пустым!');
            if ($("input[name='passwordNew']").val().length == 0) throw new Error('Новый пароль не может быть пустым!');
            if ($("input[name='passwordNew2']").val().length == 0) throw new Error('Подтверждение пароля не может быть пустым!');
            if ($("input[name='passwordNew']").val() != $("input[name='passwordNew2']").val()) throw new Error('Пароль и подтверждение не совпадают!');
        } catch (err) { alert(err); return false; }
    }).requestJSON({
        before: function () {
            $("#result").text('');
        },
        after: function (result, message) {
            open_modal("#mod_error", message.replace(/([^>])\n/g, '$1<br/>'));
        }
    });
});
</script>
}

<div style="margin-top:30px;"><form action='@Url.Action("passwordChange2")' method='post' id='pchangeform' class='data_form'>
  <div><label for="passwordOld">Старый пароль: <span>*</span></label><input type='password' name='passwordOld' /></div>
  <div><label for="passwordNew">Новый пароль:<span>*</span></label><input type='password' name='passwordNew' /></div>
  <div><label for="passwordNew2">Еще раз:<span>*</span></label><input type='password' name='passwordNew2' /></div>
  <div><div>@Html.RecaptchaInvisible("Сменить пароль", new { @class = "submit" })</div></div>
  <div><input type='submit' class="submit" value='Сменить пароль' /></div>
</form></div>
<div id='result'></div>
