
#enter_login div.reg_info {padding:0;margin:0;}
#pchangeform label {margin-left:-125px;width:115px;float:left;font-size:15px;font-weight:bold;}
#pass_rem label {font-size:15px;font-weight:bold;}
#enter_login label {margin-left:-115px;width:100px;float:left;text-align:right;font-family:'PT Serif';font-size:15px;}
#enter_login div {padding-left:125px;width:300px;margin:0 auto 12px auto;}
#enter_login div.nopadding {padding:0;width:425px;margin-bottom:32px;}

