@model User

Уважаемый посетитель!<br />
Вы успешно зарегистрировались на сайте.<br /><br />

@{ var credentitals = string.Join(" или ", new string[] { !string.IsNullOrEmpty(Model.email) ? "адрес электронной почты" : string.Empty, !string.IsNullOrEmpty(Model.phone) ? "номер телефона" : string.Empty }.Where(x => !string.IsNullOrEmpty(x))); }
Для авторизации Вы можете использовать @credentitals и пароль, указанные при регистрации.<br /><br />

@if (!string.IsNullOrEmpty(Model.email))
{ <text>Адрес электронной почты - @Model.email.<br /></text> }

@if (!string.IsNullOrEmpty(Model.phone))
{ <text>Номер телефона - @Model.phone.<br /></text> }
<br />

Вы можете авторизоваться, перейдя по <a href="@Url.ContentFullPath("/login")">указанной ссылке</a>.
<br /><br />

Спасибо за внимание!<br />
Почтовый робот сайта @Url.ContentFullPath("")
