Уважаемый посетитель!<br />
Ваша заявка на сайте зарегистрирована. Для активации учетной записи вам необходимо перейти по <a href='@Url.ContentFullPath("reg/confirm/{0}/{1}", (int)ViewBag.id, (string)@ViewBag.stateConfirmation)'>ссылке</a>.<br /><br />

Ваш логин: @ViewBag.login.<br />

Спасибо за внимание!<br />
Почтовый робот сайта @Url.ContentFullPath("")
