Уважаемый администратор!<br />
На сайте зарегистрировался новый пользователь с логином @ViewBag.login<br /><br />

@if (!string.IsNullOrEmpty(ViewBag.comment)) { <span>@ViewBag.comment</span><br /><br /> }

Необходимо просмотреть заявку на регистрацию и принять решение о приеме или отказе.<br />
Прямая ссылка на просмотр заявки: <a href='@Url.ContentFullPath("admin/mnadmin/customer/users_edit/{0}", (int)ViewBag.id)'>Управление сайтом</a><br /><br />

Спасибо за внимание!<br />
Почтовый робот сайта @Url.ContentFullPath("")
