@{
    Layout = "baseCommon.cshtml";
    Title = "Регистрация завершена";
}

<div class="subpath"><a href="/" title="Главная страница">Главная</a></div>
<h1>Регистрация на сайте</h1>
<p>
    <strong>Вы успешно зарегистрированы на сайте.</strong><br />
    Теперь вы можете <a href="/login" title="Войти на сайт">войти в личный кабинет</a>, используя логин <b>@ViewBag.login</b> и пароль, указанный при регистрации.
</p>
