<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- 
    Здесь надо указать адрес фтп-сервера с паролем, путь к исполняемому файлу BCompare и адрес 
    сайта, который будет открываться в браузере по окончании загрузки.
  -->
  <PropertyGroup Label="FtpPublish">
    <FtpAddress>ftp://ftpuser:tgH7A3@mls.traceengine.ru</FtpAddress>
    <BCompareExecutablePath>C:\Program Files (x86)\Beyond Compare 4\BComp.exe</BCompareExecutablePath>
    <!-- <SiteUrlToLaunchAfterPublish>http://mls.traceengine.ru/</SiteUrlToLaunchAfterPublish> -->
  </PropertyGroup>
  
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>localhost;Initial Catalog=site_default;Integrated Security=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>

  <!-- 
    Эту часть трогать не надо. Здесь объединяются все нужные папки и запускается BCompare. 
  -->

  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>obj/Deploy/</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>

  <Target Name="Test1" AfterTargets="CopyAllFilesToSingleFolderForPackage">

    <Error Condition="!Exists('$(BCompareExecutablePath)')" Text="BCompare не найден в пути '$(BCompareExecutablePath)'. Пожалуйста, укажите правильный путь к исполняемому файлу BCompare в свойстве BCompareExecutablePath" />

    <CreateProperty Value="$(ProjectDir)$(_PackageTempDir)">
      <Output TaskParameter="Value" PropertyName="DeployFolder" />
    </CreateProperty>

    <Message Text="Папка с файлами выгрузки: $(DeployFolder)" Importance="high" />

    <!--<Exec Condition="!Exists('$(DeployFolder)\bin\Data')" Command="mkdir &quot;$(DeployFolder)\bin\Data&quot;" EchoOFF="true" />
    <Exec Condition="!Exists('$(DeployFolder)\bin\Modules')" Command="mkdir &quot;$(DeployFolder)\bin\Modules&quot;" EchoOFF="true" />-->

    <Message Text="Перемещение папок Data и Modules из bin в основную" Importance="high" />
    <Exec Command="robocopy &quot;$(DeployFolder)\bin\Data&quot; &quot;$(DeployFolder)\Data&quot; /E /MOVE /IS /njh /njs /ns /nc /nfl /ndl /np" IgnoreExitCode="true" EchoOFF="true" />
    <Exec Command="robocopy &quot;$(DeployFolder)\bin\Modules&quot; &quot;$(DeployFolder)\Modules&quot; /E /MOVE /IS /njh /njs /ns /nc /nfl /ndl /np" IgnoreExitCode="true" EchoOFF="true" />
    <Exec Command="rmdir  &quot;$(DeployFolder)\bin\Data&quot; /s /q" IgnoreExitCode="true" EchoOFF="true" />
    <Exec Command="rmdir  &quot;$(DeployFolder)\bin\Modules&quot; /s /q" IgnoreExitCode="true" EchoOFF="true" />
    <Message Text="Перемещение бэкапа базы данных в папку Bin\Backup\" Importance="high" />
    <Exec Command="rmdir  &quot;$(ProjectDir)obj\DeployedBinFolder&quot; /s /q" IgnoreExitCode="true" EchoOFF="true" />
    <Exec Command="robocopy &quot;$(ProjectDir)bin&quot; &quot;$(ProjectDir)obj\DeployedBinFolder&quot; /E /MOVE /IS /njh /njs /ns /nc /nfl /ndl /np" IgnoreExitCode="true" EchoOFF="true" />

    <Message Text="Запуск BCompare для автоматического merge папок и файлов на сервер" Importance="high" />
    <Exec Command="
&#xD;&#xA;echo. &gt;&gt; &quot;$(DeployFolder)\Web.config&quot; &#xD;&#xA;
&#xD;&#xA;echo ^&lt;^!-- Upload time %25TIME%25 --^&gt; &gt;&gt; &quot;$(DeployFolder)\Web.config&quot; &#xD;&#xA;
set PAT=&quot;$(DeployFolder)\..\sync.txt&quot;
echo load ^&lt;default^&gt; &gt;&gt;%25PAT%25
echo criteria timestamp size &gt;%25PAT%25

echo filter &quot;*.*&quot; &gt;&gt;%25PAT%25
echo load &quot;$(DeployFolder)&quot; $(FtpAddress) &gt;&gt;%25PAT%25
echo sync create-empty update:left-^&gt;right &gt;&gt;%25PAT%25

&quot;$(BCompareExecutablePath)&quot; /closescript @%25PAT%25
    " EchoOFF="true" />
    <Message Text="Выгрузка файлов на FTP завершена." Importance="high" />

    <Exec Command="rmdir  &quot;$(DeployFolder)&quot; /s /q" IgnoreExitCode="true" EchoOFF="true" />

  </Target>

</Project>