<div id="mask"></div>
<div id="mod_error" class="window"><div class="close"></div></div>

<div class="form_mask"></div>
<div class="form_window">
    <a href="" title="" class="form_close">Закрыть</a>
    <div class="form_top">
        <div class="form_center">
            <div id="form_target"><img src="/data/img/design/loading.gif" alt="" class="form_loading" /></div>
        </div>
    </div>
</div>
