@{ var moduleAdmin = AppCore.Get<Admin.ModuleAdmin>(); }

<script type='text/javascript'>
$(document).ready(function(){
    try {
    $("#block").hide();

    changeTitle("Редактирование расширений для модуля <{$data.m_name}> (<{$data.m_filename}>)");

    $("#loading_img").hide();

    $('input.extensions_modules_users').change(function(){
    try {
        var data = $(this).attr('name').match(/users_(\d+)/i);
        if ( data == null ) { return ;}
        var aj = new ajaxRequest();
        aj.setPOST('ext_id',data[1]);
        aj.setPOST('ext_status',$(this).attr('value'));
        aj.load('/@moduleAdmin.UrlName/madmin/@Module.UrlName/module_extensions_save/<{$data.m_filename}>/1','div_result');
    } catch(err) {alert(err);}
    });

    $('input.extensions_modules_admin').change(function(){
    try {
        var data = $(this).attr('name').match(/admin_(\d+)/i);
        if ( data == null ) { return ;}
        var aj = new ajaxRequest();
        aj.setPOST('ext_id',data[1]);
        aj.setPOST('ext_status',$(this).attr('value'));
        aj.load('/@moduleAdmin.UrlName/madmin/@Module.UrlName/module_extensions_save/<{$data.m_filename}>/2','div_result');
    } catch(err) {alert(err);}
    });

    $('#table_results').tableFillView();

    } catch(err) {alert(err);}
});
</script>
<h2>Редактирование расширений для модуля <{$data.m_name}> (<{$data.m_filename}>)</h2>

<div id="div_result" style="text-align: center;border:solid 1px red;background: #fff1f1;"></div>
<table id='table_results' class='tablesorter'>
    <thead>
        <tr>
            <th style="width:50px">Название</th>
            <th style="width:250px">Имя файла</th>
            <th style="width:100px">Настройка</th>
        </tr>
    </thead>
    <tbody>
        <{foreach from=$extensions item=ad key=id}>
            <tr>
                <td class="center"><{$ad.name}></td>
                <td class="center"><{$ad.filename}></td>
                <td>
                    Пользовательский раздел:
                    <input type='radio' class='extensions_modules_users' name='users_<{$id}>' value='1' <{if isset($module_extensions[$id].use_common)&&$module_extensions[$id].use_common= =1}>
                        checked<{/if}>>&nbsp;Включено&nbsp;
                        <input type='radio' class='extensions_modules_users' name='users_<{$id}>' value='0' <{if !isset($module_extensions[$id])||!isset($module_extensions[$id].use_common)||$module_extensions[$id].use_common= =0}>
                            checked<{/if}>>&nbsp;Отключено<br>
                            Раздел администрирования:
                            <input type='radio' class='extensions_modules_admin' name='admin_<{$id}>' value='1' <{if isset($module_extensions[$id].use_admin)&&$module_extensions[$id].use_admin= =1}>
                                checked<{/if}>>&nbsp;Включено&nbsp;
                                <input type='radio' class='extensions_modules_admin' name='admin_<{$id}>' value='0' <{if !isset($module_extensions[$id])||!isset($module_extensions[$id].use_admin)||$module_extensions[$id].use_admin= =0}>checked<{/if}>>&nbsp;Отключено<br>
                </td>
            </tr>
            <{/foreach}>
    </tbody>
</table>


<a href="" class="gettop">К началу</a>
<br>
<div id='item_result' style="padding:0 0 10px 10px;font-size:14px;"></div>
