@model Adminmain.Model.Modules
@{ var moduleAdmin = AppCore.Get<Admin.ModuleAdmin>(); }

<script type='text/javascript'>
    try
    {
        var registered = @Model.Registered.jsobject();
        var unregistered = @Model.Unregistered.jsobject();
    }
    catch (err) { alert(err); }

    $(document).ready(function(){
        $("#block").hide();

        changeTitle('Управление модулями  ');

        $('#table_results_reged').tablefill(registered, function(tr_elem, data){
            $(tr_elem).addClass('TrElem').children().each(function(ichild){
                if ( ichild == 0 ) $(this)[0].innerHTML = data.Id;
                else if ( ichild == 1 ) $(this)[0].innerHTML = data.Caption + ' (' + data.NameBase + ')';
                else if ( ichild == 2 ) $(this)[0].innerHTML = data.Type;
                else if ( ichild == 3 ) $(this)[0].innerHTML = data.NameAlias;
            });

            $("a", tr_elem).each(function(){
                $(this).attr('href', $(this).attr('href') + data.NameBase);
            });
            $("a.link_ext", tr_elem).attr('href', '/@moduleAdmin.UrlName/mnadmin/' + data.NameBase + '/config');
        }, null, function(){
            $('a.link_reload', this).click(function(e){
                e.preventDefault();

                var data = $(this).closest('tr').data('BoundedItem');
                if (confirm("Вы действительно хотите перезагрузить модуль '" + data.NameBase + "'?"))
                {
                    $.requestJSON($(this).attr('href'), null, function(result, message){
                        if (message.length > 0) alert(message);
                    });
                }
            });
            $('a.link_delete', this).click(function(e){
                e.preventDefault();

                var data = $(this).closest('tr').data('BoundedItem');
                if (confirm("Вы действительно хотите очистить настройки модуля '" + data.NameBase + "'?"))
                {
                    $.requestJSON($(this).attr('href'), null, function(result, message){
                        if (message.length > 0) alert(message);
                    });
                }
            });

            $("span#countRegistered").text($("tr.TrElem", this).length);
        });

        $('#table_results_unreg').tablefill(unregistered, function(tr_elem, data){
            $(tr_elem).children().each(function(ichild){
                if ( ichild == 1 ) $(this)[0].innerHTML = data.NameBase;
                else if ( ichild == 2 ) $(this)[0].innerHTML = data.Type;
                else if ( ichild == 3 ) $(this)[0].innerHTML = data.Info;
            });

            $("a", tr_elem).each(function(){
                $(this).attr('href', $(this).attr('href') + data.NameBase);
            });
        },null,function(){
            $('a.link_ext', this).click(function(e){
                e.preventDefault();

                var url = $(this).attr('href').replace("mnadmin", "madmin");
                $("#containerForLoading").requestLoad(url, null, function(result, message){
                    if (message.length > 0) alert(message);
                });
            });

            $("span#countUnregistered").text($("tr.TrElem", this).length);

        });

        $("input#ReloadModules").click(function(){
            $.requestJSON("/@moduleAdmin.UrlName/madmin/@Module.UrlName/ModulesReload/", null, function(result, message, data){
                if (result == JsonResult.OK)
                {
                    for (var i in data) message += "\r\n - " + data[i];
                }

                if (message.length > 0) alert(message);
            });
        });

    });
</script>
<h2>Модули | <input type="button" id="ReloadModules" value="Загрузить незагруженные модули" /></h2>
<div id='mcontainer' style='display:none'>
    <span id='m_id'></span>: <span id='m_name'></span>
</div>

<table width='100%'>
    <tr>
        <td style='vertical-align:top;width:670px;min-width:670px;'>
            <h4>Зарегистрированных модулей: <span id="countRegistered">0</span></h4>
            <table id='table_results_reged' class='tablesorter' width="100%">
                <thead>
                    <tr>
                        <th style="width:15px">№</th>
                        <th style="width:150px">Название</th>
                        <th>Имя типа модуля</th>
                        <th style="width:200px">Псевдоним модуля</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tr id='not_founded' style='display:none;'>
                    <td class="center" colspan='10'>
                        Ничего не найдено.
                    </td>
                </tr>
                <tr id='obraz' style='display:none;'>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td>
                        <a href='/@moduleAdmin.UrlName/mnadmin/@Module.UrlName/modedit/' class='link_ext' target="_blank">Редактировать</a><br />
                        <a href='/@moduleAdmin.UrlName/madmin/@Module.UrlName/moddelete/' class='link_delete'>Удалить</a>
                        <a href='/@moduleAdmin.UrlName/madmin/@Module.UrlName/ModuleReload/' class='link_reload'>Перезагрузить</a><br />
                    </td>
                </tr>
            </table>

            <h4>Незарегистрированных модулей: <span id="countUnregistered">0</span></h4>
            <table id='table_results_unreg' class='tablesorter' width="100%">
                <thead>
                    <tr>
                        <th style="width:15px">№</th>
                        <th style="width:150px">Название</th>
                        <th style="width:200px">Имя типа модуля</th>
                        <th>Причина незагрузки модуля</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tr id='not_founded' style='display:none;'>
                    <td class="center" colspan='10'>
                        Ничего не найдено.
                    </td>
                </tr>
                <tr id='obraz' style='display:none;'>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td>
                        <a href='/@moduleAdmin.UrlName/mnadmin/@Module.UrlName/modedit/' class='link_ext'>Редактировать</a>&nbsp;//&nbsp;
                    </td>
                </tr>
            </table>

        </td>
        <td style='width:50px;'></td>
        <td style='width:100%;vertical-align:top;align:left;padding-top:21px;' id="containerForLoading">

            <h4> </h4>
            <div id='moduleData'></div>

        </td>
    </tr>
</table>

