@model Adminmain.Model.Modules
@{ var moduleAdmin = AppCore.Get<Admin.ModuleAdmin>(); }

<script type='text/javascript'>
 alert(err); }

    $(document).ready(function(){
        $("#block").hide();

        changeTitle('');

    });
</script>
<h2></h2>
<div id='mcontainer' style='display:none'>
    <span id='m_id'></span>: <span id='m_name'></span>
</div>

<table width='100%'>
</table>

