@Html.Partial("~/user_windows.cshtml")
 
        <!--(main_wrapper)-->
        <div class="main_wrapper">
            <!--(main_header)-->
            <div class="main_header">
                <!--(main_top_block)-->
                <div class="main_top_block">
                    <div class="top_block cover">
                        <div class="main_links_top_block clearfix">
                            <ul class="clearfix">
                                <li class="mainCompareLink"><a href="#" data-url="/realty/compare" class="nofollow" rel="nofollow" title=""><img src="/template/images/ico_comparison.png" alt="" /><span>Сравнение</span></a></li>
                                <li><a href="#" data-url="/customer/tag/%D0%98%D0%B7%D0%B1%D1%80%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5" class="nofollow" title=""><img src="/template/images/ico_favorites.png" alt="" /><span>Избранное</span></a></li>
                                <li><a href="#" data-url="/reg" class="nofollow"><img src="/template/images/ico_key.png" alt="" /><span>Вход / Регистрация</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--The End (main_top_block)-->
               
                <!--(main_menu)-->
                <div class="main_menu">
                    <div class="menu cover">
                        <a href="#" id="pull">Меню</a>
                        <ul id="main_menu">
                            @Html.EditableMenu(1)
                        </ul>
                    </div>
                </div>
                <!--The End (main_menu)-->
            </div>
            <!--The End (main_header)-->