@using OnWeb.Modules.Admin
@using OnWeb.Modules.Adminmain.Model
@model Modules
@{ var moduleAdmin = this.GetAppCore().Get<ModuleAdmin>(); }

<script type='text/javascript'>
    $(document).ready(function(){
        $("#block").hide();
        changeTitle('');
    });
</script>
<h2></h2>
<div id='mcontainer' style='display:none'>
    <span id='m_id'></span>: <span id='m_name'></span>
</div>

<table width='100%'>
</table>

